# Data Types And Structures Questions

1. What are data structures, and why are they important?
-> A data structure is a way of organizing, storing, and managing data so that
   it can be used efficently. It defines the relationship between data and the operations that can be performed on it.

   i. Efficiency: Choosing the right data structure can significantly speed up
      algorithms.

   ii. Organization: Data structures help keep data organized in a way that
      makes it easier to process.

   iii. Resource Management: By selecting an appropriate data structure,
        memory and storage are used more effectively, making programs run     faster and more efficiently.

   iv. Problem-Solving Many algorithms rely on specific data structures to
       perform their tasks.

2. Explain the difference between mutable and immutable data types with  
   examples?
-> Mutable Data Types = It is one whose value or state can be changed after it
   is created. In other words, the data structure or object can be modified.

  Examples :- Lists , Dictionaries, Sets,

-> Immutable Data Types = It is one whose value cannot be changed after it is
   created. If you try to modify an immutable object, it will result in a new being created intead of modifying.

   Examples :- Strings, Tuples, Frozensets


 3. What are the main difference between lists and tuples in Python?

  -> Lists are mutable, allowing changes to their contents (add, remove,
     modify), while tuples are immutable, meaning their contents cannot be changed after creation. List use brackets [] , and tuples use parentheses ()   
       
 4. Describe how dictionaries store data?

  -> Dictionaries store key-value using a hash table, wgere keys are hased to
     determine their storage location. if multiple keys hash to the same index (collision), Pyhton Resolves it using probing or linked lists. When the dictionary grows, it dynamically resizes and re-hashes keys for efficiency.  

 5. Why minght you use a set intead of a list in Pyhton?

  -> 1. Fast lookups- checking for membership (x in set ) is O(1) on average,
       while lists take O(n).
     2. Uniquenes- Sets automatically remove duplicates, while lists allow them.
     3. Efficent Set Operations - Opertaions like unions, intersections,and
        differences are optimized in sets but require looping in lists.

 6. What is a string in Pyhton, and how it is different from a list?

  -> A string is an immutable sequence of characters, while a list is mutable
     and can store any data type. Strings support text- specific methods ( .upper() , .split() ), whereas list have methods like .append() and .remove() . Strings are accesses character, while lists hold multiple elements. Use strings for text and lists for collections that need modification.

 7. How do tuples ensure data integrity in Python?
   
   -> Tuples ensure data integrity by being immutable, preventing accidental
      modifications. They are useful for storing fixed data like configurations or database records. Their hashability also allows them to be used as dictionary keys and set elements.

 8. What is a hash table, and how does it relate to dictionaries in Python?

   -> A hash table is a data structure that maps keys to values using a hash
     function for fast lookups. Pyhton dictionaries use hash tables, enabling efficient O(1) insetions, deletions, and searches.

 9. Can lists conatin different data types in Python?

   -> Yes, list in Python can contain different data types, including, strings,
     floats, booleans and even other list or objects. This flexibility makes lists versatile for storing mixed data in a single collection.

 10. Explain why strings are immutable in Pyhton?

  -> Strings in Pyhton are immutable to enhance performance, security, and
     hashability for use in dictionaries. This prevents unintended modifications and allows safe sharing across different parts of a program.

 11. What advantages do dictionaries after over lists for certain tasks?

  -> Dcitionaries offer faster lookups ( o(1)) compared to lists (o(n)) for
     searching elements by key. They store key- value pairs, making them ideal for mapping relationships(e.g., storing user data).

 12. Describe a scenario where using a tuple would be preferable over a list.

  -> A tuple is preferable over a list when storing fixed data that should not
     change. For examples, tuples are ideal for storing database records like (user_id, name, age), ensuring data integrity. They are also useful as dictionary keys since they are hashable, unlike lists.

 13. How do sets handles duplicate values in Pyhton?

  -> Sets in Python automatically remove duplicates values, ensuring each
     element is unique. When adding elements, Pyhton uses a hash table to check for existing values, preventing duplicates from being stored.

 14. How does the "in" keyword work differently for lists and dictionaries?

   -> In lists, it performs a linesar search (O(n)) to check if a values exists.
      In dictionaries, it checks for keys only, using a hash table for fast lookups (O(1)).

 15. Can you modify the elements of a tuple? Explain why or why not.

   -> No, you cannot modify the elements oa a tuple because tuples are  
     immtuable in Pyhton. This means once created, their elemnts canoot be changed, added or removed. This design ensures data integrity, improves performanc, and allows tuples to be hashable for use as dictionary keys.

 16. What is nested dictionary, and give an example of its use case?

  -> A nested dictionary is a dictionary that contains another dictionary as a value. it is useful for storing hierarchical or structured data, like user profiles, product catalogs, or organizational data.

   Example use case: Storing Student Records
    students = {
      "Alice": {"age": 20, "grade: "A", "subjects": ["Math", "Science"]}
      "Bob": {"age" : 22, "grade" "B", "subjects": ["History", "English"]}
      }
    print(student["alice"]["grade"])

   This structure allows easy access to related data efficiently.

 17. Describe the time complexity of accessing elements in a dictionary.

   -> Accessing elements in  a dictionary has an average time complexity of
     O(1) because Python uses a hash table allowing direct key lookups. However, in the worst case , lookups can take O(n) it multiple keys map to the same hash index and require searching through bucket.

 18. In what situations are lists preferred over dictionaries?
  
  -> Lists are preferred over dictionaries when

      i.   Order Matters

      ii.  Seqential Data

      iii. Iteration is key

      iv.  Memory Efficiency

 19. Why are dictionaries considered unordered, and how does that affect data
     retrieval?

  -> Dicitonaries were considered unordered before Pyhton 3.7 because they used
     hash tables, which did not gurantee key order. Since Pyhton 3.7+, dictionaries preserve insertion order, meaning items are retrieved in the order they were added. However, retrieval is still based on keys, not position, so you cannot access items by index like in lists.

 20. Explain the difference between a list and a dictionary in terms of data
     retrieval.

  -> The key difference in data retrieval between a list and a dictionary is:

     . Lists use index-based retrieval (O(1)) but searching for a specific  
       value takes O(n) (linear search).

     . Dictionaries use key-based retieval (O(1) on average, thanks to hash
       tables, making lookups much faster when accessing values by key

# Practical Questions

In [ ]:
 name = "Ronak"
 print(name)

Ronak

In [ ]:
 string = "Hello World"
 length = len(string)
 print("Length of the string", length)

Length of the string 11

In [ ]:
 string = "python programming"
 sliced_string = string[:3]  #slicing the first 3 characters
 print(sliced_string)

pyt

In [ ]:
string = "hello"
print(string.capitalize())

Hello

In [ ]:
 string = "i like apple"
 new_string = string.replace("apple", "orange")
 print(new_string)

i like orange

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3 , 4, ]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
letters = ["a", "b", "c", "d"]
print(letters[1])

b

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
colors = ("red", "green", "blue", "yellow")
second_to_last = colors[-2]
print(second_to_last)

blue

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [ ]:
animals = ("dog", "cat" , "rabbit")
index_of_cat = animals.index("cat")
print(index_of_cat)

1

In [ ]:
fruits = ("apple", "banana", "cherry")
if "kiwi" in fruits:
    print("Kiwi is in the tuple")
else:
  print("Kiwi is not in the tuple")

Kiwi is not in the tuple

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2, 3,}
set2 = {2, 3, 4,}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
person = {"name": "Ronak", "age":"22", "city": "kolkata"}
print(person)

{'name': 'Ronak', 'age': '22', 'city': 'kolkata'}

In [ ]:
person = {"name": "John", "age":"25"}
#adding a new key-value pair
person["city"] = "USA"
print(person)

{'name': 'John', 'age': '25', 'city': 'USA'}

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
#removing the key "age"
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [69]:
person = {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
  print("key 'city' exist in the dictionary")
else:
  print("key 'city' does not exist in the dictionary")

key 'city' exist in the dictionary

In [61]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {"name": "Alice", "age": "25", "city": "New York"}
print("list:", my_list)
print("tuple:", my_tuple)
print("dictionary:", my_dict)

list: [1, 2, 3, 4, 5]
tuple: (10, 20, 30, 40, 50)
dictionary: {'name': 'Alice', 'age': '25', 'city': 'New York'}

In [67]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("sorted random numbers:", random_numbers)

sorted random numbers: [6, 59, 61, 69, 81]

In [70]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", my_list[3])

Element at index 3: date

In [71]:
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "New York", "country": "USA"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [72]:
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print("converted set:", my_set)

converted set: {'apple', 'cherry', 'banana'}